*{padding: 0;margin:0;}


body{background:#f2f2f2}


#logo{position:fixed;top:0;background:#FF0040;width:99.9%;height:50px;}
#logo h1{position: absolute;left:5%;top:10px;font-size:25px;color:#fff;cursor:pointer;}
#logo h1 img{width:20px;}
#logo div{position: absolute;right:5%;}
#logo div b{position: relative;margin-right:5px;top:15px;font-size:18px;font-weight: lighter;color:#fff;opacity: 0.9;cursor: pointer;}
#logo div b:hover{text-decoration:underline;}

.login{position:absolute;top:50px;right:0px;width:300px;height:180px;background:#fff;box-shadow: 0px 0px 20px rgba(0,0,0,0.5);border-radius:10px}
.login input{position: relative;top:20px;left:10px;width:250px;height:30px;font-size:16px}

.login button{position: relative;top:50px;width:100px;height: 30px;left:30px;float:left;margin-left:10px}


.registrar{position:absolute;top:50px;right:0px;width:300px;height:210px;background:#fff;box-shadow: 0px 0px 20px rgba(0,0,0,0.5);border-radius:10px}
.registrar input{position: relative;top:20px;left:10px;width:250px;height:25px;font-size:14px}

.registrar button{position: relative;top:50px;width:100px;height: 30px;left:30px;float:left;margin-left:10px}

.content{position:relative;top:150px;right:200px}
textarea{font-size:18px;text-indent: 5px;width:550px;height:200px}
.content button{width:100px;height:30px;font-size: 16px;font-weight: lighter;opacity:0.8}
.content h2{opacity: 0.7}

hr{opacity:0.8}
#feed{position:absolute;right:10px;top:53px;width:400px;height:90%;border-left: groove 1px;background:#fff;color:;cursor:pointer;}
#feed b{font-size:18px;font-weight: lighter;opacity:0.8;min-width:50px;}
#feed b:hover{text-decoration: underline;}

.load{position:fixed;background:#fff;box-shadow:0px 0px 20px rgba(100,200,100,0.5);left:30%;top:50px;border-radius:10px}
.load hr{opacity:0.3}
.load b{opacity:0.7;font-size:18px}

#content{position:fixed;top:0;width:99.9%;height:100%;background:rgba(50,50,100,0.5);filter: blur(50px);}

footer{position:fixed;bottom:1px;width:99.9%;height:50px;background:#f2f2f2;color:#000;}
footer h3{opacity:0.8;font-family: 'Indie Flower', cursive;}